@use "variables" as v;

#indexHeader {
    .topHeader {
        .navbar {
            display: none !important;
        }
    }
}

@media only screen and (max-width: 900px) {
    #indexHeader {
        .topHeader {
            @include v.flex-column;
            justify-content: left;
            align-items: flex-start;
            padding: 0.5rem;
            background-color: burlywood;
            border-bottom: solid black;
            font-size: clamp(0.2vh, 4vw, 1rem);
            height: auto;
            .linksHeader {
                display: none;
            }
            .navbar {
                display: block !important;

                div {
                    div {
                        .linksMobile {
                            @include v.flex-column;
                            gap: 1rem;
                            padding: 1rem 0;
                        }

                    }
                }
            }
        }

    }
}